<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a <i href="https://www.facebook.com/share/19nyENzRAD/" class="fa-brands fa-facebook" style="font-size: 24px ;"></i>&nbsp; &nbsp; &nbsp;  </a>
            <a <i  href="https://www.instagram.com/invites/contact/?utm_source=ig_contact_invite&utm_medium=copy_link&utm_content=qpexvi5" class="fa-brands fa-square-instagram" style="font-size: 24px ;"></i>&nbsp; &nbsp;&nbsp;  </a>
           <a <i  href="https://youtube.com/@ankurkumar-3?si=JRHq2H5lawvXVejf "   class="fa-brands fa-youtube" style="font-size: 24px ;"></i></a>

        </div>
       <div>
            <p> <i class="fa-solid fa-phone-volume"></i> +91 7667880272</p>
            <p> <i class="fa-solid fa-envelope"></i> ankurkumar89632@gmail.com</p>
            <!-- <a href="/listings/new" class="can-btn">-</a> -->
            <h2 style="font-size: 20px;">Website developer by  Ankur</h2> 
            <h2 style="font-size: 20px;"> contact no- 7667880272</h2>
           
    </div>


</footer>
