.otp-box{

display:flex;

justify-content:center;

gap:12px;

margin:30px 0;

}

.otp-input{

width:55px;

height:60px;

font-size:28px;

text-align:center;

border:2px solid #ccc;

border-radius:10px;

outline:none;

transition:.3s;

}

.otp-input:focus{

border-color:#ff5722;

box-shadow:0 0 8px rgba(255,87,34,.4);

}

.timer{

text-align:center;

font-size:18px;

font-weight:600;

margin-top:20px;

}

#countdown{

color:red;

}